/* ShimmerButton.module.css */

/* Keyframe for the spin effect */
@property --mask {
  syntax: "<angle>";
  inherits: false;
  initial-value: 33deg;
}

@keyframes spin {
  0% {
    --mask: 0deg;
  }
  100% {
    --mask: 360deg;
  }
}

/* Button styles */
.button {
  color: var(--bg);
  font-weight: 600;
  font-size: 1.2em;
  background-image: linear-gradient(
    315deg,
    hsl(var(--shimmer-hue-1), var(--shimmer-sat-1), var(--shimmer-lit-1)) 0%,
    hsl(var(--shimmer-hue-2), var(--shimmer-sat-2), var(--shimmer-lit-2)) 47%,
    hsl(var(--shimmer-hue-3), var(--shimmer-sat-3), var(--shimmer-lit-3)) 100%
  );
  padding: 0.8em 1.4em;
  position: relative;
  border: none;
  outline: none;
  border-radius: 0.66em;
  isolation: isolate;
  box-shadow: 0 2px 3px 1px hsl(var(--glow-hue) 50% 20% / 50%);
  scale: 1;
  transition: all var(--spring-duration) var(--spring-easing);
}

/* Shimmer animation */
.shimmer {
  position: absolute;
  inset: -40px;
  border-radius: inherit;
  mix-blend-mode: color-dodge;
  pointer-events: none;
  mask-image: conic-gradient(
    from var(--mask, 0deg),
    transparent 0%,
    transparent 10%,
    black 36%,
    black 45%,
    transparent 50%,
    transparent 60%,
    black 85%,
    black 95%,
    transparent 100%
  );
  mask-size: cover;
  animation: spin 3s linear infinite both;
}

.shimmer::before,
.shimmer::after {
  opacity: 0;
  content: "";
  position: absolute;
  inset: 40px;
  border-radius: inherit;
  transition: all 0.5s ease;
}

.shimmer::before {
  box-shadow: 0 0 3px 2px hsl(var(--shimmer-hue-1) 20% 95%),
    0 0 7px 4px hsl(var(--shimmer-hue-1) 20% 80%),
    0 0 13px 8px hsl(var(--shimmer-hue-2) 40% 60%),
    0 0 22px 6px hsl(var(--shimmer-hue-2) 20% 40%);
  z-index: -1;
}

.shimmer::after {
  box-shadow: inset 0 0 0 1px hsl(var(--shimmer-hue-2) 70% 95%),
    inset 0 0 3px 1px hsl(var(--shimmer-hue-2) 100% 80%),
    inset 0 0 9px 1px hsl(var(--shimmer-hue-2) 100% 70%);
  z-index: 2;
}

/* Hover effect */
.button:hover .shimmer::before,
.button:hover .shimmer::after {
  opacity: 1;
}

/* Text shine effect */
.text {
  color: transparent;
  background-clip: text;
  background-color: var(--bg);
  background-image: linear-gradient(
    120deg,
    transparent,
    hsla(var(--shimmer-hue-1), 100%, 80%, 0.66) 40%,
    hsla(var(--shimmer-hue-2), 100%, 90%, 0.9) 50%,
    transparent 52%
  );
  background-repeat: no-repeat;
  background-size: 300% 300%;
  background-position: center 200%;
}

.textShine {
  animation: text 0.66s ease-in-out 1;
}
